<HTML>
  <HEAD>
    <TITLE>Product MAY172533</TITLE>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </HEAD>
  <BODY>
    <div class="container">
    <H2>Diamond Select Toys Marvel Select Spider-Gwen Action Figure</H2>
    <H4>by Diamond Select</H4>
    <table width="100%" border="0" cellpadding="15">
      <tr>
        <td rowspan="3"><img src="static/images/MAY172533.jpg"></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>A Diamond Select Toys release! From the other side of the Spider-Verse comes the rockin'est Spider-hero in town! Mary Jane's drummer and protector of New York City Gwen Stacy is the latest Marvel Select action figure from DST, and she's sure to be one of our best sellers! The approximately 6.75-inch action figure comes with interchangeable raised and lowered hoods, various interchangeable hands, and a sculpted diorama base depicting a fallen robot! Packaged in the display-ready Select packaging with side-panel artwork. Sculpted by Jean St. Jean!.</td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
          <b>List price</b>:  <strikethrough>24.99</strikethrough><br>
          <b>Our price</b>:    19.17<br>
          <b>You save</b>:  5.819999999999997%!
        </td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>
          <table>
            <tr>
              <td><B>Tax (NJ):</b></td>
              <td align="right">7.00</td>
            </tr>
            <tr>
              <td><B>Total:</b</td>
              <td align="right">$26.17</td>
            </tr>
          </table>
       </td>
      </tr>
    </table>
    </div>
  </BODY>
</HTML>

